body {
  background: #f7f7f7;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.btn {
  background: pink;
  margin: 20px;
}

.add-btn {
  background: #28b3e0;
  width: fit-content;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
}
.delete-btn {
  background: #e41919;
  width: fit-content;
  height: 40px;
  margin-left: 5px;
  border-radius: 5px;
}
.app-title {
  text-align: center;
  color: #28b3e0;
  font-size: 70px;
}
.container {
  border: 5px solid #ada5a6;
  border-radius: 25px;
}
.input {
  width: 250px;
  height: 35px;
  border-radius: 5px;
}
